h1 {
    text-align: center;
    color: purple;
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 200;
    width: auto;
}

.gif {
    position: relative;
    top: 200px;
    z-index: 8;
}

h2,
.question {
    text-align: center;
    color: lightsteelblue;
    position: relative;
    z-index: 9;
}