h1 {
    text-align: center;
    color: purple;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.gif {
    position: relative;
    top: 200px;
    z-index: 9;
}

h2 {
    text-align: center;
    color: darkmagenta;
    position: relative;
    z-index: 8;
}