header {
    background-color: white;
    border-bottom: 30px solid white;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 9;
    top: -22px;
    text-align: center;
}

h1 {
    color: purple;
    z-index: 10;
    display: inline-block;
    font-size: 60px;
}

.gif {
    position: relative;
    z-index: 7;
}

h2 {
    text-align: center;
    color: red;
    position: relative;
    z-index: 8;
    font-size: 50px;
}

ul {
    text-align: center;
    color: red;
    position: relative;
    z-index: 8;
    font-size: 30px;
}

.question:hover {
    color: purple;
}

.box {
    width: 160px;
    height: 160px;
    content-visibility: hidden;
    position: absolute;
    top: 1375px;
    right: 5%;
    z-index: 11;
}

.box:hover {
    content-visibility: visible;
}

.submit {
    text-align: center;
}